/* 地址部分*/

.address-item,
.address-add{
    margin: 20px 20px 0 0;
    width: 200px;
    float: left;
    padding: 5px 8px;
    cursor: pointer;
    border: 3px dashed #cccccc;
}

.address-item:hover,
.address-add:hover{
    background: #fafafa;
}

.address-item.active {
    border: 3px dashed #c60023;
}

.address-item:hover .address-opera {
    visibility: visible;
}

.address-item .address-title {
    color: #666666;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    border-bottom: 1px solid #dddddd;
}

.address-item .address-detail {
    margin-top: 5px;
    color: #666666;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
}

.address-item .address-opera {
    text-align: right;
    visibility: hidden;
}

.address-item .address-opera .link {
    margin-right: 5px;
}

.address-add .address-new {
    text-align: center;
    color: #cccccc;
    padding: 8px 0;
}

.address-add .address-new .fa {
    font-size: 50px;
    line-height: 50px;
}

.address-add .address-new .text {
    font-size: 12px;

}

/* 清单 部分*/
.product-table {
    width: 100%;
    margin: 10px 0;
    border-collapse: collapse;
}

.product-table th,
.product-table td {
    border-bottom: 1px dotted #dddddd;
}

.product-table .cell-img {
    padding: 10px;
    width: 10%;
    text-align: left;
}

.product-table .cell-img .p-img {
    width: 80px;
    height: 80px;
    border: 1px solid #dddddd;
}

.product-table .cell-info {
    width: 20%;
    text-align: center;
}
.product-table .cell-price {
    width: 20%;
    text-align: center;
}

.product-table .cell-count {
    width: 20%;
    text-align: center;
}

.product-table .cell-total {
    width: 10%;
    text-align: center;
}

/* 订单的提交 */
.submit-con {
    background: #eeeeee;
    text-align: right;
}

.submit-con .submit-total {
    margin-right: 20px;
    font-size: 18px;
    color: #c60023;
    font-weight: bold;
    vertical-align: middle;
}

.submit-con .order-submit {
    height: 50px;
    line-height: 50px;
    width: 100px;
    text-align: center;
}


/*  modal 部分 */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #eeeeee;
    background: rgba(0,0,0,.4);
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
}

.modal .modal-container {
    width: 700px;
    margin: 50px auto;
    background: #ffffff;
    border-radius: 2px;
}

.modal .modal-container .modal-header {
    position: relative;
    padding: 15px;
    border-bottom: 1px solid #cccccc;
}

.modal .modal-container .modal-header .modal-title {
    font-size: 14px;

}

.modal .modal-container .modal-header .close {
    position: absolute;
    padding: 10px;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.modal .modal-container .modal-body {
    padding: 15px;
}

/* form */

.form  .form-line{
    margin: 5px 0;
    overflow: hidden;
}

.form .form-line .label {
    display: block;
    float: left;
    width: 80px;
    text-align: right;
    line-height: 30px;
    margin-right: 10px;
    cursor: pointer;
}

.form .form-line .form-item {
    padding: 0 5px;
    height: 30px;
    line-height: 30px;
    outline: none;
    margin-right: 10px;
}

.form .form-line .address-btn {
    margin-left: 90px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
}

.form .form-line .label .required {
    color: red;
    margin-right: 1px;
}

