.nav {
    background: #eeeeee;
    height: 30px;
    line-height: 30px;
}
.nav .user {
    float: left;
}

.nav .user.login {
    display: none;
}

.nav .user.link {
    margin-right: 5px;
}

.nav .nav-list {
    float: right;
}

.nav .nav-list .nav-item {
    display: inline-block;
    margin-left: 5px;
}