.footer {
    margin-top: 15px;
    padding-bottom: 25px;
}

.footer .links {
    text-align: center;
    color: #666;
    line-height: 30px;
}

.footer .links .link {
    padding: 0 10px;
}

 .footer .copyright {
    text-align: center;
    line-height: 30px;
    color: #666666;
}